# Database Configuration (Azure MySQL)
DB_HOST=websql1.mysql.database.azure.com
DB_PORT=3306
DB_USER=ppk123
DB_PASSWORD=Mysql@1234
DB_NAME=mopr
DB_SSL=true
# Server Configuration
PORT=3000
NODE_ENV=development

# JWT Configuration
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production

# Email Configuration (Gmail SMTP)
SMTP_EMAIL=vlogsnqt720@gmail.com
SMTP_PASSWORD=pbul ezir buwc cymk

# Email Settings
SMTP_FROM_NAME=MOPR Team
SMTP_FROM_EMAIL=vlogsnqt720@gmail.com

